<div class="communiqué surencadré vert">
  <h1>Communiqué sur la situation Envibus</h1>
  <p>L'Alternative sociale, citoyenne et écologique; Arnaud Delcasse, Cécile Dumas, Karim Della Sudda et Nora Choubane apportent toute leur solidarité aux personnes blessées dans l'accident du bus-tram ainsi qu'aux salariés qui alertaient leur direction sur la mise en fonction précipitée de cet équipement.</p>
  <p class="highlight">Le manque de personnel, de formation, mais aussi l'absence d'entretien de la voie dédiée, dont la présence de plaques de verglas qui avaient été signalée par des cyclistes empruntant cette route, auraient dû suffire à reporter la mise en service.</p>
  <p>Nous avions reçu une délégation des chauffeurs d'Envibus le 6 janvier, le délégué syndical est venu prendre la parole à l'inauguration du local de campagne où il a, de nouveau, alerté sur les différents dangers d'une ouverture anticipée de la voie dédiée !</p>
  <p class="highlight">Prenons le temps de mettre en service de manière sereine et sécurisée ce nouvel aménagement et les nouveaux bus, quitte à retarder les effets d'annonce, pour la sécurité des usagers et personnels Envibus.</p>
  <img src="assets/communique_envibus.png">
</div>