<div class="soutienmouvementsocial">
  <div class="surencadré orange"><div class="container">
    <p>La liste L'Alternative Sociale, Citoyenne, Ecologique pour Antibes Juan-les-Pins est au coté des syndicalistes et des grévistes pour soutenir le mouvement social contre la réforme des retraites.
    Nous tenons à garder notre système solidaire de retraite, et nous battrons jusqu'au bout, jusqu'au retrait de la réforme injuste et individualiste de Macron.</p>
    <p>Les cheminots notamment sont en grève reconductible depuis le 5 décembre. Nous vous invitons à les aider en versant dans leurs caisse de grève</p>
    

  </div></div>
</div>
