<div class="lateral text-center" id="lateral">
  <a class="accueil" [routerLink]="['/accueil']">
    <img class="" src="/assets/entete.jpg">
    <!--
    <p class="alternative">Alternative</p>
    <p class="antibes">Antibes</p>
    <p class="juan">Juan-les-Pins</p>
    -->
  </a>
  <div class="liens container-fluid">
    <div class="row">
      <div class="col"><a [routerLink]="['/contact']"><p>Contactez-nous</p></a></div>
      <div class="col"><a [routerLink]="['/programme']"><p>Programme</p></a></div>
      <div class="col"><a [routerLink]="['/presse']"><p>Coin Presse</p></a></div>
      <div class="col"><a [routerLink]="['/agenda']"><p>Agenda</p></a></div>
    </div>
    <!--
    <div class="row subpages">
        <div class="col"></div>
      <div class="col"><a [routerLink]="['/contact']"><p>Gratuité des transports en commun</p></a></div>
      <div class="col"><a [routerLink]="['/programme']"><p>Plan Vélo</p></a></div>
      <div class="col"><a [routerLink]="['/presse']"><p>Soutien aux mouvement social</p></a></div>
      <div class="col"></div>
    </div>
    -->
  </div>
  <app-bandeaucontact></app-bandeaucontact>
  <!-- direct link to interesting pages....-->
  <a href="planvelo" class="directlink">
    <p class="surencadré vert source">Plan Vélo</p>
  </a>
  <hr>
</div>