$vert: #00b176;
$rouge: #e4002b;
$jaune: #ffc72c;
$violet: #926ebf;
$bleu: #009ec0;
$orange: #ff8200;

.lateral {
  font-size: 2rem;
  @media (max-width: 650px) { font-size: 1rem; }

  img { width: 100%; }
  // @media (max-width: 650px) { .accueil, img { width: 0px; height: 0px; visibility: hidden; display: block; } }

  p { margin-bottom: 0px; }

  a:hover { text-decoration: none; font-weight: bold; }
  a { text-decoration: none; color: inherit; }
  
  .liens {
    font-family: de_valenciaregular; 
    color: $rouge;
    padding-top: 20px;
    // text-align: right;
  }
  
  .liens p { padding: 10px 0px; }

  .subpages { 
    font-size: 60%;
    font-family: metropolisregular;
    color: $vert;
  }

  .directlink { color: white; }
  .linkprogramme {
    font-size: 160%;
    color: $rouge;
    font-family: yellowtailregular;
    p:before {
      content: "▶";
      padding-right: 8px;
      font-size: 2rem;
      vertical-align: middle;
    }
  }

  
}
