<div class="videopage">
  <div class="video">
    <h1>Partie 1 : Urbanisme et Environnement</h1>
    <iframe class="videoframe" src="https://www.youtube.com/embed/jUWNhlMUMxQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video">
    <h1>Partie 2 : La plaine de la Brague</h1>
    <iframe class="videoframe" src="https://www.youtube.com/embed/Q_DpnKB1X28" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video">
    <h1>Partie 3 : Développement et tourisme</h1>
    <iframe class="videoframe" src="https://www.youtube.com/embed/A4zxscKSuvk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video">
    <h1>Partie 4 : Transports et mobilité</h1>
    <iframe class="videoframe" src="https://www.youtube.com/embed/5-KsOtfVIk0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
