.presse {
  text-align: center;
  .source { color: white; }

  img.extraitpresse {
    max-width: 1000px;
    width: 100%;
  }

  .date {
    padding-left: 10px;
  }

  .article {
    margin-bottom: 50px;
  }

}