.presse {

  .entete {
    font-family: de_valenciaregular; 
    color: #e4002b;
    font-size: 10rem;
  }

  img.extraitpresse {
    max-width: 1000px;
    width: 100%;
  }

  .date {
    padding-left: 10px;
  }

}