<div class="agendapage">
  <!-- espace rencontre -->
  <div class="surencadré jaune category">
    <h1>Espace rencontre avec les acteurs associatifs et syndicaux de la ville</h1>
    <p class="lieu">au local de campagne, 10 rue Pasteur à Antibes</p>
    <p class="date">Tous les Lundi, de 8h30 à 10h</p>
  </div>
  <div class="surencadré vert category">
    <h1>Permanence</h1>
    <p class="lieu">au local de campagne, 10 rue Pasteur à Antibes</p>
    <p class="date">le Lundi, de 14h à 19h</p>
    <p class="date">le Mardi, de 14h à 18h</p>
    <p class="date">le Mercredi, de 14h à 18h</p>
    <p class="date">le Jeudi, de 10h à 18h</p>
    <p class="date">le Vendredi, de 14h à 17h</p>
  </div>
  <!-- manif -->
  <div class="surencadré rouge category">
      <h1>Manifestation contre la réforme des retraites</h1>
      <p class="lieu">Jardin Albert 1er à Nice</p>
      <p class="date">Jeudi 20 Février à 10h</p>
  </div>
  <!-- inauguration -->
  <!--
  <div class="surencadré vert category">
    <h1>L'alternative reçoit</h1>
    <p class="lieu">10 rue Pasteur à Antibes</p>
    <p class="date">Lundi 3 Février à partir de 18h30</p>
  </div>
  -->
  <!-- tractage -->
  <div class="surencadré orange category tractage" > 
      <h1>On vient à votre rencontre</h1>
      <div *ngFor="let event of tractagelist" class="tractage old">
        <p class="lieu">{{event.lieu}}</p>
        <p class="date">{{event.datestr}} {{event.heure}}</p>
      </div>
  </div>
  <!-- réunion d'appart -->
  <div class="surencadré jaune category" >
    <h1>Réunions d'appartement et thématiques</h1>
    <div *ngFor="let event of appartlist" class="appart old">
      <p class="lieu">{{event.lieu}}</p>
      <p class="date">{{event.datestr}} {{event.heure}}</p>
    </div>
  </div>

  <br>
  <!-- Réunion publique -->
  <div class="surencadré vert category">
    <h1>Après-midi littéraire</h1>
    <p class="">Avec Thomas Portes, auteur de "au coeur de la haine" sur la montée de l'extrême droite</p>
    <p class="">Et Geneviève Legay, auteure de "Celle qui n'était pas sage" sur les violences policières et les libertés individuelles</p>
    <p class="lieu">10 rue Pasteur à Antibes</p>
    <p class="date">Samedi 22 Février à 14h</p>
  </div>
  <div class="surencadré vert category">
    <h1>Réunion publique</h1>
    <p class="lieu">Salle du 8 Mai</p>
    <p class="date">Mercredi 11 Mars à 19h</p>
  </div>
  
  <!-- fin des inscriptions -->
  <hr class="vote">
  <div class="surencadré rouge category" *ngIf="isBefore('07FEB20')">
      <h1>Fin de l'inscription sur les listes électorales</h1>
      <P class="warning">Pensez à vous inscrire !</P>
      <p class="date">Vendredi 7 février 2020</p>
      <p class="lieu">en Mairie ou sur <a href="https://psl.service-public.fr/mademarche/InscriptionElectorale/demarche">internet</a></p>
  </div>
  <!-- jours de vote -->
  <div class="surencadré vert category">
      <h1>1er tour des élections</h1>
      <p class="date">Dimanche 15 Mars de 8h à 20h</p>
      <h1>2nd tour des élections</h1>
      <p class="date">Dimanche 22 Mars de 8h à 20h</p>
      <p class="lieu">dans votre <a href="https://www.service-public.fr/particuliers/vosdroits/services-en-ligne-et-formulaires/ISE">bureau de vote</a></p>
  </div>
</div>