<div class="agendapage">
  <!-- espace rencontre -->
  <div class="surencadré jaune category">
      <h1>Espace rencontre avec les acteurs associatifs et syndicaux de la ville</h1>
      <p class="lieu">au local de campagne, 10 rue Pasteur à Antibes</p>
      <p class="date">Tous les Lundi, de 8h30 à 10h</p>
    </div>
  <!-- inauguration -->
  <div class="surencadré vert category">
    <h1>Inauguration du local de campagne</h1>
    <p class="lieu">10 rue Pasteur à Antibes</p>
    <p class="date">Samedi 11 Janvier à 11h</p>
  </div>
  <!-- manif -->
  <div class="surencadré rouge category">
      <h1>Manifestation contre la réforme des retraites</h1>
      <p class="lieu">Départ Place Garibaldi à Nice</p>
      <p class="date">Jeudi 9 Janvier à 11h</p>
  </div>
  <!-- tractage -->
  <div class="surencadré orange category tractage" >
      <h1>On vient à votre rencontre</h1>
      <div *ngFor="let event of tractagelist" class="tractage">
        <p class="lieu">{{event.lieu}}</p>
        <p class="date">{{event.datestr}} {{event.heure}}</p>
      </div>
  </div>
  
  <!-- fin des inscriptions -->
  <div class="surencadré rouge category fininscription">
      <h1>Fin de l'inscription sur les listes électorales</h1>
      <P class="warning">Pensez à vous inscrire !</P>
      <p class="date">Vendredi 7 février 2020</p>
      <p class="lieu">en Mairie ou sur <a href="https://psl.service-public.fr/mademarche/InscriptionElectorale/demarche">internet</a></p>
  </div>
  <!-- jours de vote -->
  <div class="surencadré vert category">
      <h1>1er tour des élections</h1>
      <p class="date">Dimanche 15 Mars de 8h à 20h</p>
      <h1>2nd tour des élections</h1>
      <p class="date">Dimanche 22 Mars de 8h à 20h</p>
      <p class="lieu">dans votre <a href="https://www.service-public.fr/particuliers/vosdroits/services-en-ligne-et-formulaires/ISE">bureau de vote</a></p>
  </div>
</div>