<div class="bandeaucontact container">
  <div class="row">
    <!-- adresse -->
    <div class="col-5 offset-1 offset-md-1 col-md-3 col-xl-3 offset-xl-2 contact">
      <div class="vmiddle">
        <img src="assets/001-location-mark.svg">
        <div class="texte">
          <span>Alternative Antibes Juan-les-Pins,</span><br>
          <span class="bold">10 avenue Pasteur 06600 Antibes</span>
        </div>
      </div>
    </div>
    <!-- mail -->
    <div class="col-5 col-md-3 col-xl-2 contact">
      <div class="vmiddle">
        <img src="assets/004-mail.svg">
        <div class="texte">
          <span>contact@alternative-antibes.fr</span><br>
        </div>
      </div>
    </div>
    <!-- facebook -->
    <div class="col-5 offset-1 offset-md-0 col-md-3 col-xl-2 contact">
      <div class="vmiddle">
        <img src="assets/002-facebook.svg">
        <div class="texte">
          <a href="fb.me/AlternativeAntibes">fb.me/AlternativeAntibes</a><br>
        </div>
      </div>
    </div>
    <!-- twitter -->
    <div class="col-5 col-md-2 col-xl-2 contact">
      <div class="vmiddle">
        <img src="assets/003-twitter.svg">
        <div class="texte">
          <a href="https://twitter.com/AlternativeAJLP">@AlternativeAJLP</a><br>
        </div>
      </div>
    </div>
</div>