/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

$vert: #00b176;
$rouge: #e4002b;
$jaune: #ffc72c;
$violet: #926ebf;
$bleu: #009ec0;
$orange: #ff8200;

@function first($list) { @return nth($list, 1); }
@mixin gradient($direction, $list) {
  background: first($list);
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: -ms-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}
$gradientcolors_vert: $vert,$vert, RGB(0, 177, 118, 60%);
$gradientcolors_rouge: $rouge,$rouge, RGB(228, 0, 43, 60%);
$gradientcolors_jaune: $jaune,$jaune, RGB(255, 199, 44, 60%);
$gradientcolors_violet: $violet,$violet, RGB(146, 110, 191, 60%);
$gradientcolors_bleu: $bleu,$bleu, RGB(0, 158, 192, 60%);
$gradientcolors_orange: $orange,$orange, RGB(255, 130, 0, 60%);


body {
  font-family: metropolisregular;
  text-align: justify;
}

input[type="submit"]:hover { text-decoration: underline; }

.entete { 
  font-size: 3rem; 
  margin: 20px 0px; 
  text-align: center; 
  @media (max-width: 650px) { font-size: 2rem; }
}
.entete img { max-width: 80%; }
.alternative        { font-family: de_valenciaregular; color: $vert; }
.valeurs            { font-family: leckerlioneregular; color: $rouge }
.ecologique         { font-family: leckerlioneregular; color: $vert }
.pour               { font-family: yellowtailregular; color: $vert; padding-right: 15px; }
.antibes, .juan     { font-family: yellowtailregular; color: $rouge;  }
.entete .antibes    { font-size: 5rem; }
@media (max-width: 650px) { .entete .antibes { font-size: 3rem; } }

.contenu {
  // position: absolute;
  // left: 25%;
  // left: 10%;
  // padding-right: 10%;
  font-size: 1.3rem;
  @media (max-width: 650px) {
    position: unset;
    // left: unset;
    // padding-left: 10%;
    max-width: 100%;
    font-size: 0.9rem;
  }
}

.titre, h1 { 
  font-size: 5rem;
  font-family: yellowtailregular;
  color: $rouge;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  @media (max-width: 650px) { font-size: 2.5rem; }
}

.surencadré {
  text-align: center;
  padding: 0px !important;
  @include gradient(to bottom, $gradientcolors_vert); // vert par defaut
  &.vert { @include gradient(to bottom, $gradientcolors_vert); }
  &.rouge { @include gradient(to bottom, $gradientcolors_rouge); }
  &.bleu { @include gradient(to bottom, $gradientcolors_bleu); }
  &.jaune { @include gradient(to bottom, $gradientcolors_jaune); }
  &.orange { @include gradient(to bottom, $gradientcolors_orange); }
  &.violet { @include gradient(to bottom, $gradientcolors_violet); }
  &.blanc { background: white;}
}

.encadré {
  display: inline-block;
  width: 75%;
  max-width: 1000px;
  text-align: justify;
  color: white;
  @media (max-width: 650px) { font-size: 1.1rem; }
  padding: 0px !important;
  &.oneliner { padding: 20px 0px 5px !important; }
}
.container .encadré { width: 100%; text-align: center; }
.blanc .encadré { color: black; }

.highlight {
  color: $rouge; 
  font-family: leckerlioneregular;  
}

input, textarea {
  border-radius: 15px;
  border: $jaune 3px solid;
  padding-left: 10px;
}
button, input[type=submit] {
  font-family: de_valenciaregular;
  color: $rouge;
  font-size: 6rem;
  @media (max-width: 650px) { font-size: 3rem; }
  background-color: transparent;
  border: none;
  width: 100%;
  &:hover { font-weight: bold; text-decoration: none;}
  border-radius: unset !important;
  border: unset !important;
  line-height: unset !important;
}
.rouge button, .rouge input[type=submit] { color: $jaune; };

.vosinfos {
  margin-top: 30px;
  $list: $vert,$vert, #00b17675;
  @include gradient(to bottom, $gradientcolors_vert);
  padding: 10px 25px;

  input[type=text], input[type=email], input[type=tel]  {
    width: 100%;
    font-family: Arial;
  }
  .row {
    margin-top: 14px;
    line-height: 2;
  }
  textarea  {
    box-shadow: 4px 4px 1px $vert;
    padding: 5px 20px;
    font-family: Arial;
    padding: 0px 25px; width: 100%;
  }
}

form {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.badfield { 
  border-color: $rouge !important;
  border-width: 3px !important;
  &::placeholder { color: $rouge; }
}

.axes, .programme {
  .encadré { 
    margin-bottom: 30px;
    > ul > li > mark { 
      padding: inherit;
      background-color: inherit;
      color: inherit;
      font-size: 110%;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .axe {
    font-size: 2rem;
    text-align: left;
    padding-left: 10%;
    padding-top: 20px;
    color: white;
    @media (max-width: 650px) { 
      text-align: center;
      padding-left: unset;
      }
  }

  ul { list-style: none; padding: 0; margin: 0; } // retirer les bullet points par défaut
  li { padding-left: 16px; }
  li { padding-bottom: 10px; }
  li:before {
    content: "•";
    padding-right: 8px;
  }
  li.suite, ul ul li {
    padding-top: 10px;
    &:before {
      content: "▶";
      padding-right: 8px;
      font-size: 1rem;
    }
  }
  ul ul li { 
    padding-left: 50px;
    @media (max-width: 650px) { padding-left: 30px; }
  }
  
}
.blanc .axe { color: $rouge; }

.bold { font-weight: bold; }
.avoidwrap { display: inline-block; }


.portraits {
  padding: 10px 50px;
  div { padding: unset; }
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: 1361px) { grid-template-columns: 1fr; padding: 10px 20px; }
  grid-template-rows: auto;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  justify-items: center;
  align-items: start;
  max-width: 2000px;
  margin: auto;
}