.jeparticipe {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-template-areas: 
  "participetext"
  "plus"
  "form";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;

  .participetext { grid-area: participetext; }
  .participetext:hover { text-decoration: underline; }
  .plus { grid-area: plus; width: 40px; padding-bottom: 20px; margin-top: -20px;}

  .infos {
    width: 400px;
    @media (max-width: 1400px) { width: 300px; }
    grid-area: form;
    input, textarea { font-size: 1.2rem; line-height: 2rem;}
    input[type=submit] { font-size: 3rem;}
    textarea { width: 100%; height: 200px; }
    @media (max-width: 500px) { textarea {width: 300px;} }

    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "prenom nom"
    "email email"
    "idees idees"
    "envoyer envoyer";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    margin: auto;

    .prenom { grid-area: prenom; width: 100%; justify-self: stretch;}
    .nom { grid-area: nom; width: 100%; justify-self: stretch;}
    .email { grid-area: email; width: 100%; justify-self: stretch;}
    .idees { grid-area: idees; width: 100%; justify-self: stretch;}
    .envoyer { grid-area: envoyer; }
  }

  .merci { 
    color: white;
    font-size: 1.5rem;
    text-align: center;
    .titre { color: white; font-size: 3rem; }
  }
}