<div class="accueil">
  <!-- titre en haut de page -->
  <div class="entete text-center">
    <!--
    <p class="alternative">Pour une alternative</p>
    <p class="valeurs">sociale, citoyenne et <span class="ecologique">écologique</span></p>
    <p><span class="pour" >pour </span><span class="antibes"> Antibes Juan-les-Pins</span></p>
    -->
    <!-- <img src="assets/logo_1quad.png"> -->
    <img src="assets/vue_antibes_rempart_01.png">
  </div>

  <!-- texte de rassemblement -->
  <div class="texterassemblement">
    <div class="surencadré">
      <div class="encadré">
        <p>Après plusieurs rencontres entre militant·e·s de gauche et écologistes, avec des citoyens d’Antibes Juan-les-Pins, 
          nous souhaitons créer les conditions d’un rassemblement le plus large possible pour construire <span class="highlight">un projet progressiste, 
          de justice sociale, écologiste, de gauche pour notre ville</span> permettant de répondre aux besoins de tout·e·s les habitant·e·s, 
          <span class="highlight">un projet qui mettra l’humain et la planète au cœur de ses préoccupations.</span></p>
      </div>
    </div>

    <div>
      <p>
        Face à l’hégémonie de la droite sous toutes ses formes (majorité locale LR, majorité nationale macronienne, 
        extrême-droite qui a brillé par son absence des débats municipaux pendant 5 ans), 
        nous considérons que le débat ne doit pas exclusivement s’installer en son sein, 
        excluant une grande partie de la population et les réponses nécessaires à la transition écologique.
      </p>
      <p class="nousrefusons">
        Nous refusons que seuls des projets de droite et d’extrême-droite se dessinent pour notre territoire.
      </p>
    </div>
    
    <div class="methode">
      <p>
        Nous voulons travailler à construire un avenir social et solidaire, démocratique et écologique pour Antibes Juan-les-Pins, notamment pour ses générations futures.
      </p>
      <p class="axes">
        Le projet que nous souhaitons porter pourra s’organiser autour d’axes majeurs tels que la santé, l’emploi, le logement, la mobilité, l’environnement, l’économie circulaire, le tissu associatif, les services publics, les équipements, l’aménagement du territoire, la politique de la jeunesse, l’entraide intergénérationnelle… en s’appuyant sur une démocratie participative renouvelée.
      </p>
      <p>
        Nous souhaitons le co-construire, le travailler, le porter avec toutes celles et ceux qui, engagés à gauche, dans des syndicats, des associations mais aussi avec tout.e.s les citoyen.ne.s de notre ville partageant des valeurs communes et souhaitant contribuer à l’intérêt général sur notre territoire.            
      </p>
    </div>

    <div class="surencadré">
      <div class="encadré">
        <p>
            Rassemblé·e·s, déterminé·e·s, engageons-nous collectivement dans le respect de notre diversité, pour construire ce projet pour Antibes Juan-les-Pins et la CASA (Communauté d’Agglomération de Sophia-Antipolis) 
            <span class="highlight">pour une ville plus solidaire, plus accueillante et plus agréable à vivre.</span>
        </p>
      </div>
    </div>

    <!--
    <div class="signataires">
      <div class=""><p class="titre">Signataires</p></div>
      <div class="row">
        <div *ngFor="let contactinfo of signataires" class="col contactinfo"><p class="nom">{{contactinfo.prenom}}<br>{{contactinfo.nom}}</p><p class="fonction">{{contactinfo.fonction}}</p></div>
      </div>
    </div>
    -->
  </div>

  <!-- les grands axes -->
  <div class="axes">
    <h1>Les grands axes</h1>

    <!-- axe 1 : social -->
    <div class="surencadré rouge">
      <p class="axe">Une ville sociale et solidaire</p>
      <div class="encadré">
        <p>Avec 15% de la population en dessous du seuil de pauvreté, et 6000 familles demandeuses de logement social, il est très dur de vivre à Antibes.
          La ville doit aider ses habitants à vivre sereinement. Avec plusieurs millions d'excédent budgétaire, elle en a les moyens. Ces richesses doivent
          revenir aux antibois·es.
        </p>
        <ul>
          <li>Le droit au logement pour toutes et tous</li>
          <li>Installer une maison de la solidarité</li>
          <li>Service public de la petite enfance</li>
          <li>Assurer la vraie gratuité de l’accès au service public d’éducation</li>
          <li class="suite"><a href="programme#sociale">lire la suite</a></li>
        </ul>
      </div>
    </div>

    <!-- axe 2 : ecologique -->
    <div class="surencadré vert">
      <p class="axe">Une ville écologiquement responsable</p>
      <div class="encadré">
        <p>Antibes connait des problèmes de pollution important autant de l'air que de la mer. Déplacements, logements, déchets, gestion de l'eau et littoral,
           de grands chantiers ambitieux doivent se mettre en place.
        </p>
        <ul>
          <li>Développer toutes les mobilités alternatives à la voiture</li>
          <li>Grand plan d’aide à la rénovation énergétique des logements sociaux et des bâtiments publics</li>
          <li>Antibes, ville sans plastique - et qui recycle</li>
          <li>Contre l’imperméabilisation imposer un moratoire sur tous les projets nouveaux ou d’agrandissement de centres commerciaux</li>
          <!-- <li>Rendre l'accès libre à tous au littoral</li> -->
          <li class="suite"><a href="programme#écologique">lire la suite</a></li>
        </ul>
      </div>
    </div>

    <!-- axe 3 : dynamique -->
    <div class="surencadré orange">
      <p class="axe">Une ville active et dynamique</p>
      <div class="encadré">
        <p>Antibes et la CASA doivent changer de développement économique. L'affairisme aveugle doit faire place
          à un développement durable, concerté et aux services de tous.
        </p>
        <ul>
          <li>Lutte contre la précarisation de l’emploi</li>
          <li>Moratoire sur tous les nouveaux projets de création et d’extension de grandes surfaces et bureaux</li>
          <li>Aménagement d’une nouvelle ZAE avec priorité à l’économie sociale et solidaire et les associations</li>
          <li>Installer un pass’sport et un pass’culture pour tous les jeunes de la ville d’Antibes</li>
          <li class="suite"><a href="programme#dynamique">lire la suite</a></li>
        </ul>
      </div>
    </div>

    <!-- axe 4 : démocratique -->
    <div class="surencadré violet">
      <p class="axe">Une ville citoyenne, démocratique et participative</p>
      <div class="encadré">
        <p>Les Antibois·es veulent prendre en main l'organisation de leur ville, et la commune doit leur donner tous les moyens.</p>
        <ul>
          <li>Comité d’usagers pour les déplacements, la gestion des déchets, la gestion de l'eau </li>
          <li>Des mairies annexes dans tous les quartiers</li>
          <li>Organisation de budgets participatifs et de référendums d’initiative citoyenne</li>
          <li>Antibes, territoire 0 chômeur : Aider à la réinsertion de l’emploi avec une coopérative d’activité et d’emploi - </li>
          <li class="suite"><a href="programme#citoyenne">lire la suite</a></li>
        </ul>
      </div>
    </div>

  </div>
  
</div> <!-- end contenu - nothing after that -->