$vert: #00b176;
$rouge: #e4002b;
$jaune: #ffc72c;
$violet: #926ebf;
$bleu: #009ec0;
$orange: #ff8200;

.texterassemblement {
  
  div {
    @media (max-width: 650px) { padding: 10px 20px; }
    @media (max-width: 1000px) { padding: 10px 50px; }
    padding: 10px 150px;
  }

  p { padding: 10px 0px; margin-bottom: 0px; }

  .qui, .pourquoi { text-align: justify; }
  .qui {
    h1 {
      font-family: yellowtailregular;
      color: $rouge;
      font-size: 3rem;
      @media (max-width: 1000px) { font-size: 2rem; }
    }
    margin-bottom: 40px;
  }
  .pourquoi {
    h1 {
      font-family: metropolisregular;
      color: $rouge;
      font-size: 2rem;
      @media (min-width: 1400px) { text-align: left; padding-left: 3rem; }
      @media (max-width: 1000px) { font-size: 1.6rem; }
    }
    margin-top: 40px;
  }
  .portraits { div { padding: unset; } }
  .restecandidats {
    h1 {font-size: 4rem;}
    a:hover { text-decoration: none; font-weight: bold; }
    a { text-decoration: none; font-weight: normal; color: inherit; }
    a:before {
      content: "▶";
      padding-right: 8px;
      font-size: 2rem;
      vertical-align: middle;      
    }
  }
}

/*
.texterassemblement, .axes {
  width: 80%;
}
*/