<div class="accueil">
  <!-- titre en haut de page -->
  <div class="entete text-center" id="entete">
    <!--
    <p class="alternative">Pour une alternative</p>
    <p class="valeurs">sociale, citoyenne et <span class="ecologique">écologique</span></p>
    <p><span class="pour" >pour </span><span class="antibes"> Antibes Juan-les-Pins</span></p>
    -->
    <!-- <img src="assets/logo_1quad.png"> -->
    <img src="assets/photo_ensemble.JPG">
  </div>

  <!-- agenda sur le coté -->
  <!-- <app-agenda></app-agenda> -->

  <!-- texte de rassemblement -->
  <div class="texterassemblement" id="texterassemblement">
    <div class="qui surencadré blanc">
      <h1>Qui sommes nous ?</h1>
      <div>
        Nous sommes des personnes de gauche, écologistes, féministes, syndicalistes, associatives ... des citoyens engagés, depuis longtemps, depuis peu ou pour la première fois en politique. Nous avons des profils divers : salariés du public, du privé, de l’économie sociale et solidaire, étudiants, indépendants, retraités …
        Habitants d’Antibes Juan-les-Pins, nous nous engageons pour un avenir social et solidaire, démocratique et écologique pour notre ville.
        Soutenus par la Gauche Républicaine et Socialiste, Génération.s et le Parti Communiste Français, nous incarnons le rassemblement de la gauche et de l’écologie comme alternative à l’hégémonie de la droite sous toutes ses formes (du maire sortant LR ou du gouvernement) et de l’extrême droite, qui a brillé par son absence de propositions pendant les 6 dernières années.
        Nous sommes l’Alternative sociale, citoyenne, écologique pour Antibes Juan-les-Pins.
      </div>
    </div>
    <!-- portraits TODO -->
    <div class="portraits">
      <div *ngFor="let candidat of tetesdeliste">
        <app-candidat [candidat]=candidat></app-candidat>
      </div>
      
    </div>
    <div class="pourquoi surencadré vert">
      <h1>Pourquoi présenter une liste aux Municipales 2020 ?</h1>
      <div class="">
        Nous faisons le constat d’une ville où les inégalités sont très importantes et visibles, <span class="highlight">avec près de 15 % des familles antiboises vivant sous le seuil de pauvreté (Insee) , 16 % de chômage chez les femmes et 13 % chez les hommes, d’une ville dans le peloton de tête des villes dont l’air est le plus pollué (AtmoSud)</span> 
        … Nous assistons à une démocratie locale vérouillée, où l’implication citoyenne est découragée et où les décisions prises sont déconnectées des réalités de la population.
        Conscients des attaques inédites sur nos droits sociaux, nos libertés, notre environnement de la part de la majorité gouvernementale, 
        nous pensons que la commune et la CASA ont plus que jamais leur rôle à jouer pour <span class="highlight">améliorer la vie quotidienne, le pouvoir d’achat, l’expression démocratique et le cadre de vie.</span>
        Ainsi, rassemblés, déterminés, nous nous engageons collectivement dans le respect de notre diversité pour construire et présenter un projet pour Antibes Juan-les-Pins et la CASA (Communauté d’Agglomération de Sophia-Antipolis), pour une ville où il fait bon vivre, plus solidaire, plus écologique et à l’écoute de ses habitants.
      </div>
    </div>
  </div>
  
  <!-- les grands axes -->
  <div class="axes" id="axes">
    <h1>Les grands axes</h1>

    <!-- axe 1 : social -->
    <div class="surencadré rouge">
      <p class="axe">Une ville sociale et solidaire</p>
      <div class="encadré">
        <p>Avec 15% de la population en dessous du seuil de pauvreté, et 6000 familles demandeuses de logement social, il est très dur de vivre à Antibes.
          La ville doit aider ses habitants à vivre sereinement. Avec plusieurs millions d'excédent budgétaire, elle en a les moyens. Ces richesses doivent
          revenir aux antibois·es.
        </p>
        <ul>
          <li>Le droit au logement pour toutes et tous</li>
          <li>Installer une maison de la solidarité</li>
          <li>Service public de la petite enfance</li>
          <li>Assurer la vraie gratuité de l’accès au service public d’éducation</li>
          <li class="suite"><a href="programme#sociale">lire la suite</a></li>
        </ul>
      </div>
    </div>

    <!-- axe 2 : ecologique -->
    <div class="surencadré vert">
      <p class="axe">Une ville écologiquement responsable</p>
      <div class="encadré">
        <p>Antibes connait des problèmes de pollution important autant de l'air que de la mer. Déplacements, logements, déchets, gestion de l'eau et littoral,
           de grands chantiers ambitieux doivent se mettre en place.
        </p>
        <ul>
          <li>Développer toutes les mobilités alternatives à la voiture</li>
          <li>Grand plan d’aide à la rénovation énergétique des logements sociaux et des bâtiments publics</li>
          <li>Antibes, ville sans plastique - et qui recycle</li>
          <li>Contre l’imperméabilisation imposer un moratoire sur tous les projets nouveaux ou d’agrandissement de centres commerciaux</li>
          <!-- <li>Rendre l'accès libre à tous au littoral</li> -->
          <li class="suite"><a href="programme#écologique">lire la suite</a></li>
        </ul>
      </div>
    </div>

    <!-- axe 3 : dynamique -->
    <div class="surencadré orange">
      <p class="axe">Une ville active et dynamique</p>
      <div class="encadré">
        <p>Antibes et la CASA doivent changer de développement économique. L'affairisme aveugle doit faire place
          à un développement durable, concerté et aux services de tous.
        </p>
        <ul>
          <li>Lutte contre la précarisation de l’emploi</li>
          <li>Moratoire sur tous les nouveaux projets de création et d’extension de grandes surfaces et bureaux</li>
          <li>Aménagement d’une nouvelle ZAE avec priorité à l’économie sociale et solidaire et les associations</li>
          <li>Installer un pass’sport et un pass’culture pour tous les jeunes de la ville d’Antibes</li>
          <li class="suite"><a href="programme#dynamique">lire la suite</a></li>
        </ul>
      </div>
    </div>

    <!-- axe 4 : démocratique -->
    <div class="surencadré violet">
      <p class="axe">Une ville citoyenne, démocratique et participative</p>
      <div class="encadré">
        <p>Les Antibois·es veulent prendre en main l'organisation de leur ville, et la commune doit leur donner tous les moyens.</p>
        <ul>
          <li>Comité d’usagers pour les déplacements, la gestion des déchets, la gestion de l'eau </li>
          <li>Des mairies annexes dans tous les quartiers</li>
          <li>Organisation de budgets participatifs et de référendums d’initiative citoyenne</li>
          <li>Antibes, territoire 0 chômeur : Aider à la réinsertion de l’emploi avec une coopérative d’activité et d’emploi - </li>
          <li class="suite"><a href="programme#citoyenne">lire la suite</a></li>
        </ul>
      </div>
    </div>

  </div>
  
</div> <!-- end contenu - nothing after that -->