.texterassemblement {
  
  div {
    @media (max-width: 650px) { padding: 10px 20px; }
    @media (max-width: 1000px) { padding: 10px 50px; }
    padding: 10px 150px;
  }

  p { padding: 10px 0px; margin-bottom: 0px; }
}


.nousrefusons {
  font-weight: bold;
  text-align: center;
}

.methode .axes {
  color: #00b176;
  font-weight: bold;
}

.accueil {
  h1, .titre { 
    font-family: de_valenciaregular; 
    color: black;
    @media (max-width: 650px) { font-size: 4rem; } 
  }
}

/*
.signataires {
  div { padding:0px; margin:0px;}
  .contactinfo {
    padding: 0px 20px;
    max-width: 124px;
  }
  .titre {
    font-family: de_valenciaregular; 
    color: black;
    text-align: center;
    width: 100%;
  }
  .nom {
    font-size: 1rem;
    color: black;
    text-align: center;
    padding:0px;
    margin:3px;
  }
  .fonction {
    font-size: 0.7rem;
    color: #00b176;
    text-align: justify;
    padding:0px;
  }
}
*/