<div class="programme">
  <h1>Nos Propositions</h1>

  <!-- le constat -->
  <div class="constat surencadré blanc">
    <p class="axe">Le constat</p>
    <div class="encadré">
      <ul>
        <li>Près de 15 % des familles antiboises vivent avec des revenus en-dessous du seuil de pauvreté (Insee)</li>
        <li>16% de femmes sont au chômage et 13% des hommes</li>
        <li>6 000 familles ont effectué une demande de logement social alors que la commune ne répond toujours pas aux exigences de la loi SRU, 8 % de logements sociaux au  lieu de 25 %</li>
        <li>Antibes et la CASA sont un de territoires de PACA le plus accidentogène</li>
        <li>Notre ville est dans le peloton de tête des communes dont l’air est le plus pollué(Air Paca)</li>
      </ul>
    </div>
  </div>

  <!-- axe 1 : social -->
  <div id="sociale" class="surencadré rouge axe droite">
    <p class="axetitre">Une ville sociale et solidaire</p>
    <div class="encadré">
      <div class="intro">
        Antibes Juan-les-Pins a les moyens de réduire les inégalités et d’élaborer une véritable politique sociale et solidaire.
        L’accès au logement doit devenir une priorité et un droit pour toutes et tous, dans une ville hors-la-loi avec 8 % de logements sociaux au lieu des 25 %
        imposés par la Loi SRU. Nous souhaitons stopper la spéculation immobilière, aggravée par l’arrivée des plateformes numériques, en régulant l’inflation des
        loyers y compris dans le parc privé. Nous défendons l’émergence de nouveaux services de solidarité dans Antibes, pour faciliter l’accès à l’aide sociale, garantir
        la gratuité de l’éducation et permettre à tous les jeunes d’accéder aux sports et à la culture. Nous souhaitons soutenir l’insertion par l’activité économique et
        éradiquer le chômage de longue durée sur notre territoire.
      </div>
      <ul>
        <li><mark>Le droit au logement pour toutes et tous.</mark><ul>
          <li>Remettre les logements vacants en offre locative sociale</li>
          <li>50% de logements sociaux dans chaque programme de construction</li>
          <li>Garantir les loyers aux propriétaires qui pratiquent des loyers sociaux en créant une caisse de compensation à la CASA</li>
          <li>Encadrement des loyers du privé sur  la totalité du territoire de la CASA</li>
          <li>Un programme de résidence universitaire publique à Antibes ( géré par le CROUS et de travailleurs saisonniers (2eme foyer de jeunes travailleurs)</li>
          <li>Création d’un foyer pour femmes victimes de violences</li>
          <li>Prendre un arrêté anti-expulsion : aucune expulsion possible sans proposition de relogement</li>
          <li>Permettre l’hébergement sans condition: agrandir le foyer d’accueil des SDF au Fort Carré en doublant les places pour les femmes</li>
          <li>Favoriser l’utilisation des 450 terrains en « dent creuse ».</li>
        </ul></li>
        <li><mark>Installer une maison de la solidarité</mark><ul>
          <li>où les associations pourront coordonner les aides alimentaires</li>
          <li>des postes d’écrivain public avec accès à internet et à la reprographie</li>
          <li>un médiateur des droits et conseil juridique</li>
          <li>et l'installation d'un atelier Emmaüs.</li>
          <li>Relocaliser les Restos du cœur</li>
        </ul></li>
        <li><mark>Service public de la petite enfance</mark><ul>
          <li>150 places de crèches supplémentaires</li>
          <li>Construction de  3 crèches</li>
        </ul></li>
        <li><mark>Assurer la vraie gratuité de l’accès au service public d’éducation</mark><ul>
          <li>Gratuité des fournitures scolaires</li>
          <li>Gratuité des déplacements pour les sorties pédagogiques</li>
          <li>Cantine gratuite pour les foyers les plus défavorisés</li>
        </ul></li>
        <li><mark>Services publics émergents construits par les habitants</mark> (ex: partage de véhicules, AMAP….)  avec soutien de la municipalité</li>
      </ul>
    </div>
    <div class="participe"><app-jeparticipe></app-jeparticipe></div>
  </div>

  <!-- axe 2 : ecologique -->
  <div id="écologique" class="surencadré vert axe gauche">
    <p class="axetitre">Une ville écologiquement responsable</p>
    <div class="encadré">
      <div class="intro">
        Notre ville est en première ligne du dérèglement climatique, comme nous pouvons le voir avec les intempéries désastreuses de plus en plus
        fréquentes ces dernières années.
        Nous proposons une politique ambitieuse et des investissements ciblés sur la transition écologique, pour limiter la place de la voiture et
        proposer des alternatives attractives, lutter contre l’imperméabilisation des sols, faire d’Antibes Juan-les-Pins une ville irréprochable, « ville
        sans plastique » et « Zéro pesticide », engagée dans la transition et la sobriété énergétique.
      </div>
      <ul>
        <li><mark>Déplacements</mark><br>Nous multiplierons et favoriserons les accès à différentes mobilités avec l’objectif de diminuer fortement le nombre de voitures sur notre territoire.<ul>
          <li>Gratuité des transports en commun sur Antibes et la CASA. Chiffré à 3.9M€</li>
          <li>En lien avec les usagers, salariés des services de transport, réflexion sur les lignes, les dessertes et les horaires.</li>
          <li>Développer les pistes cyclables sécurisées et installer des stations de vélos électriques et trottinettes. Location à moyen terme (6 mois) pour faire découvrir le vélo.</li>
          <li>Favoriser les accès piétons et PMR</li>
          <li>Donner du lien entre les quartiers</li>
          <li>Mise en place de 2 grands axes traversant la ville, Est-Ouest et Nord-Sud, à la fois pour les bus en site propre et pour les déplacements en mode doux</li>
          <li>Mise en place d’espaces logistiques pour désengorger le centre-ville des gros camions de livraison.</li>
          <li>Développer les parkings de dissuasion et les aires de covoiturage.</li>
        </ul></li>
        <li><mark>Logements</mark><ul>
          <li>Grand plan d’aide à la rénovation énergétique des logements sociaux et des bâtiments publics</li>
          <li>Installation de panneaux thermiques ou mixtes (eaux chaudes et électricité) ; Production décentralisée à but non lucratif via des coopératives ou autre statut juridique soutenu par la collectivité</li>
          <li>Aide à l’information pour la rénovation du parc privé</li>
        </ul></li>
        <li><mark>Déchets</mark><ul>
          <li>Totale transparence sur la gestion des déchets : où va le tri ? qu’est ce qui est brûlé ?</li>
          <li>Faciliter le recyclage</li>
          <li>Augmenter le nombre de déchetteries</li>
          <li>Un composteur par quartier</li>
          <li>Recyclerie locale pour les encombrants, avec insertion sociale par le travail.</li>
          <li>Antibes, ville sans plastique</li>
          <li>Antibes : zéro pesticide</li>
          <li>Révision du règlement de la publicité pour limiter la pollution visuelle et faire des économies d’énergie</li>
        </ul></li>
        <li><mark>Gestion de l’eau</mark><ul>
          <li>Contre l’imperméabilisation imposer un moratoire sur tous les projets nouveaux ou d’agrandissement de centres commerciaux</li>
          <li>Grandes études pour la prévention des inondations et aménager le bassin versant de la Brague</li>
          <li>Valoriser les eaux pluviales et recycler les eaux usées</li>
          <li>Augmenter le nombre de fontaines, toilettes et douches publiques accessible à tous</li>
          <li>Garantir une alimentation en eau avec une part gratuite correspondant aux besoins minimums 60 litres par jour et par personne</li>
        </ul></li>
        <li><mark>Littoral</mark><ul>
          <li>Rendre l'accès libre à tous au littoral</li>
          <li>S’opposer à l'extension du port</li>
          <li>Revaloriser la plage de la Fontonne (équipements prise électrique pour la restauration ambulante)</li>
        </ul></li>
      </ul>
    </div>
    <div class="participe"><app-jeparticipe></app-jeparticipe></div>
  </div>

  <!-- axe 3 : dynamique -->
  <div id="dynamique" class="surencadré orange axe droite">
    <p class="axetitre">Une ville active et dynamique</p>
    <div class="encadré">
      <div class="intro">
          Nous souhaitons que notre territoire mette sa richesse au service de la population et du développement d’une ville plus active et dynamique. Les enjeux
          écologiques et sociaux émergents nous imposent une réflexion sur le développement de notre économie, et notamment de Sophia Antipolis, à travers
          l’impact du numérique, et du tourisme sur le littoral. Nous nous devons de rendre vivants chacun des quartiers de notre ville, et notamment le Nord d’Antibes
          ou Juan-les-Pins.
      </div>
      <ul>
        <li><mark>Lutte contre la précarisation de l’emploi</mark> : la CASA, la Ville et les structures qui en dépendent (Régies, SPL …) doivent être exemplaires dans la limitation des CDD, la titularisation des personnels, l’accès à la formation, l’égalité Femmes/Hommes et le dialogue social</li>
        <li><mark>Moratoire sur tous les nouveaux projets de création et d’extension de grandes surfaces</mark>, mais aussi de bureaux à Sophia (un bâtiment construit = un bâtiment détruit/reconverti)</li>
        <li><mark>Aménagement d’une nouvelle ZAE</mark> sur l’entrée nord d’Antibes avec priorité à l’économie sociale et solidaire : installation d’espace de coworking, installation d’un espace dédié aux AMAP et à la vente de produits des producteurs locaux, d’une maison de la jeunesse et de la culture du 21ème siècle. Revoir le contenu du projet Ecotone.</li>
        <li><mark>Installer un pass’sport et un pass’culture</mark> pour permettre l’accès aux associations de tous les jeunes de la ville d’Antibes</li>
        <li><mark>Flécher vers le numérique durable</mark> les entreprises et les projets qui s’installent à Sophia pour sortir de la politique d’attractivité aveugle</li>
        <li><mark>Musée des sciences du numérique</mark></li>
        <li><mark>Construction d’un crématorium pour désengorger l’Ouest du département</mark></li>
      </ul>
    </div>
    <div class="participe"><app-jeparticipe></app-jeparticipe></div>
  </div>

  <!-- axe 4 : démocratique -->
  <div id="citoyenne" class="surencadré violet axe gauche">
    <p class="axetitre">Une ville citoyenne, démocratique et participative</p>
    <div class="encadré">
      <div class="intro">
        Nous souhaitons favoriser l’implication citoyenne et permettre aux habitants de franchir un cap démocratique, en les associant aux prises de décisions et en leur permettant d’initier de nouveaux projets.
      </div>
      <ul>
        <li><mark>Comité d’usagers</mark> pour les réseaux de déplacements (transports en commun, vélo) ; pour la gestion des déchets ;  pour la gestion de l’eau</li>
        <li><mark>Des mairies annexes dans tous les quartiers</mark> pour permettre l’accès aux services publics</li>
        <li><mark>Organisation de budgets participatifs et de référendums d’initiative citoyenne</mark></li>
        <li><mark>Participation numérique du public</mark> : transparence et communication des projets municipaux très en amont, retransmission des conseils municipaux</li>
        <li><mark>Mise en place de services de réinsertion de l’emploi</mark> avec une coopérative d’activité et d’emploi.</li>
        <li><mark>Antibes, territoire 0 chômeur</mark></li>
        <li>Nous mettrons <mark>sous protection les services publics</mark> qui dépendent de l’État et des autres collectivités, hôpital, éducation, impôts, pompiers...</li>
      </ul>
    </div>
    <div class="participe"><app-jeparticipe></app-jeparticipe></div>
  </div>
</div>